/* ҳ����ͷͼ͸�� */
#footer {
	background: transparent !important;
}

#page-header {
	background: transparent !important;
}

/* ����ģʽ����͸�� */
#footer::before {
	background: transparent !important;
}

#page-header::before {
	background: transparent !important;
}

/* ҹ��ģʽ����͸�� */
[data-theme="dark"] #footer::before {
	background: transparent !important;
}

[data-theme="dark"] #page-header::before {
	background: transparent !important;
}

/* ҹ��ģʽ�˵��������� */
[data-theme="dark"] #nav .site-page,
[data-theme="dark"] #nav .menus_items .menus_item .menus_item_child li a {
	text-shadow: 0 0 2px var(--theme-color) !important;
}

/* �ֻ������� */
[data-theme="dark"] #sidebar #sidebar-menus .menus_items .site-page {
	text-shadow: 0 0 2px var(--theme-color) !important;
}

/* ��˸�䶯��ɫ�������� */
#site-name,
#site-title,
#site-subtitle,
#post-info,
.author-info__name,
.author-info__description {
	transition: text-shadow 1s linear !important;
}

/*����������Ƶ����*/
.aspect-ratio {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 75%;
	margin: 3% auto;
	text-align: center;
}

	.aspect-ratio iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}